@import '../Variables/Variables.scss';

.header {
    border: 1px solid $backgroundWhite;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}
