@import '../Variables/Variables.scss';


.scoreTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    h1 {
        color: $backgroundWhite;
        margin: 0;
        margin-bottom: -13px;
        }

/*     button {
        @include buttonStyle();
    } */
}

